<div class="wrapper" role="main">
    <div class="body">
        <button class="close-icon" aria-label="Cerrar verificación">
            <i class="ri-close-line" aria-hidden="true"></i>
        </button>

        <!-- <div class="confirmation-overlay" *ngIf="showConfirmationMessage" role="dialog" aria-labelledby="confirmDialogTitle" aria-describedby="confirmDialogDesc">
            <div class="confirmation-box">
                <h2 id="confirmDialogTitle">Confirmación</h2>
                <p id="confirmDialogDesc">¿Estás seguro de que quieres abandonar el proceso? Se perderán los datos ingresados.</p>
                <button class="btn1 btn-secondary" (click)="showConfirmationMessage = false">Cancelar</button>
                <button class="btn1 btn-primary" routerLink="/login">Aceptar</button>
            </div>
        </div> -->

        <div class="container">
            <h2>Recuperar Contraseña</h2>
            <p>Ingresa tus credenciales para continuar</p>

            <!-- Contraseña Aleatorea-->
            <div class="input-container">
                <input type="password" [(ngModel)]="randomPassword" id="input-random-password" required>
                <label for="input-random-password" class="label">Contraseña Aleatorea</label>
                <div class="underline"></div>
            </div>

            <!-- Contraseña Nueva-->
            <div class="input-container">
                <input type="password" [(ngModel)]="newPassword" id="input-new-password" required>
                <label for="input-new-password" class="label">Contraseña Nueva</label>
                <div class="underline"></div>
            </div>

            <!-- Repetir Contraseña Nueva-->
            <div class="input-container">
                <input type="password" [(ngModel)]="repeatNewPassword" id="input-repeat-new-password" required>
                <label for="input-repeat-new-password" class="label">Repetir Contraseña Nueva</label>
                <div class="underline"></div>
            </div>

            <button type="button" class="button" (click)="changePassword()">Solicitar Recuperación</button>

        </div>




        <div class="footer">
            <div class="ayudas" role="contentinfo">
                <!-- Puedes agregar aquí enlaces de ayuda o contacto -->
            </div>
        </div>
    </div>
</div>