.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;

}

.container {
    border-bottom: 1px solid #757575;
    padding: 50px 0px;
}

h3 {
    margin-bottom: 50px;
    font-size: 28px;
}

p {
    margin-bottom: 50px;
    margin-top: 50px;

}

.close-icon {
    display: flex;
    width: 40px;
    position: absolute;
    top: 40px;
    height: 38px;
    right: 20px;
    font-size: 25px;
    background: #000000;
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 0px 0 6px 6px #0000004d;
    font-weight: 900;
    text-decoration: none;
    align-items: center;
}

.close-icon i {
    cursor: pointer;
}

.row1 {
    margin-top: 40px;
}

.welcome-message {
    font-size: 15px;
    margin-top: 5%;
    font-weight: 500;
    color: #757575;

}


.form-floating {
    margin-bottom: 20px;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.username-background {
    background-color: #0b03af;
    color: white;
    padding: 3.5px 5px;
    border-radius: 5px;
    margin-left: 8px;
}



h4 {
    margin: 10%;
}

.row1 label {
    margin-top: 10%;
    font-size: 13px;

}

.row1 a {
    text-decoration: none;
}


/* email-code.component.css */

.code-input {
    display: flex;
    gap: 8px;
    /* Espacio entre los inputs */
    margin-bottom: 15px;
    /* Margen inferior para separar de los botones */
    justify-content: center;
    align-items: center;
}

.digit-input {
    width: 48px;
    height: 58px;
    text-align: center;
    font-size: 25px;
    background: transparent;
    border: none;
    /* Eliminamos el borde predeterminado */
    border-bottom: 2px solid #757575;
    /* Agregamos el borde inferior */
    border-radius: 0;
    /* Eliminamos la esquina redondeada */
    box-shadow: none;
    /* Eliminamos la sombra */
    margin: 0;
    /* Eliminamos cualquier margen predeterminado */
    padding: 0;
    /* Eliminamos cualquier relleno predeterminado */
    outline: none;
    /* Eliminamos el resplandor al enfocar */
}

.timer {
    font-size: 16px;
    color: #333;
    margin-bottom: 7px;
}

.timer-text {
    color: #0b03af;
}

.input-container {
    position: relative;
    margin: 22px auto;
    width: 320px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #757575;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 15px;
    color: #757575;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="email"]:focus~.label,
.input-container input[type="password"]:focus~.label,
.input-container input[type="text"]:valid~.label,
.input-container input[type="email"]:valid~.label,
.input-container input[type="password"]:valid~.label {
    top: -20px;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="email"]:focus~.underline,
.input-container input[type="password"]:focus~.underline,
.input-container input[type="text"]:valid~.underline,
.input-container input[type="email"]:valid~.underline,
.input-container input[type="password"]:valid~.underline {
    transform: scaleX(1);
}

.button {
    padding: 0.5em 1.7em;
    background-color: #0b03af;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    margin: 5px;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #fff;
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: #0b03af;
}



.confirmation-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
}

.confirmation-box {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 0px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.confirmation-box p {
    margin-bottom: 10px;

}

.btn1 {
    width: 40%;
    height: 40px;
    font-size: 15px;
    margin: 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #0b03af;
    border: none;

}

.footer {

    margin: 15px 30px;
    font-size: 10px;
}