

<div class="wrapper" role="main">
    <div class="body">
        <button class="close-icon" (click)="showConfirmationDialog()"  aria-label="Cerrar verificación">
            <i class="ri-close-line" aria-hidden="true"></i>
        </button>

        <div class="confirmation-overlay" *ngIf="showConfirmationMessage" role="dialog" aria-labelledby="confirmDialogTitle" aria-describedby="confirmDialogDesc">
            <div class="confirmation-box">
                <h2 id="confirmDialogTitle">Confirmación</h2>
                <p id="confirmDialogDesc">¿Estás seguro de que quieres abandonar el proceso? Se perderán los datos ingresados.</p>
                <button class="btn1 btn-secondary" (click)="showConfirmationMessage = false">Cancelar</button>
                <button class="btn1 btn-primary" routerLink="/login">Aceptar</button>
            </div>
        </div>

        <div class="container">
            <h2>Recuperar Contraseña</h2>
            <p >Ingresa tus credenciales para continuar</p>

            <div class="input-container">
                <input type="text" id="input-usuario"  [(ngModel)]="usernameOrEmail" required>
                <label for="input-usuario" class="label">Introduzca usuario o correo electrónico</label>
                <div class="underline"></div>
            </div>
            <button type="button" class="button" (click)="requestPasswordReset()">Solicitar Recuperación</button><br>

        </div>




        <div class="footer">
            <div class="ayudas" role="contentinfo">
                <!-- Puedes agregar aquí enlaces de ayuda o contacto -->
            </div>
        </div>
    </div>
</div>